<html>
  <body>
    <form ref='uploadForm' 
      id='uploadForm' 
      action='/v1/upload/user/22/profile' 
      method='post' 
      encType="multipart/form-data">
        <input type="file" name="content" />
        <input type='submit' value='Upload!' />
    </form>     
  </body>
</html>